.footer {
    background-color: #434649; /* Slate Gray */
    color: #ffffff; /* White */
    padding: 30px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Body text font */

}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    border-bottom: 2px solid #0077B5; /* LinkedIn Blue */
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif; /* Heading font */
}

.footer-section p {
    font-size: 16px;
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #0077B5; /* LinkedIn Blue */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #005587; /* Darker LinkedIn Blue */
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #86888A; /* Cool Gray */
    padding-top: 10px;
}
