@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.footer {
  background-color: #434649; /* Slate Gray */
  color: white;
  padding: 40px 0;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  padding: 20px;
}

.footer-section h2 {
  font-size: 20px;
  color: #0077B5; /* LinkedIn Blue */
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;

}

.footer-section p,
.footer-section ul {
  font-size: 16px;
  color: #F3F6F8; /* Light Gray */
  font-family: Arial, Helvetica, sans-serif;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #0099ff;
  text-decoration: none;
  transition: color 0.3s;
  font-family: Arial, Helvetica, sans-serif;

}

.footer-section ul li a:hover {
  color: #0077B5;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077B5;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #3A3D40;
  font-size: 14px;
}
