/* General styles */
/* body {
    margin: 80px;
    font-family: 'Arial', sans-serif;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */
  
  /* Page container */
  .login-page {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  /* Card styles */
  .card {
    margin-top: 0;
    font-family: 'Arial', sans-serif;
    background: #72be92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 800px;
  }
  .login-card {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 1000px;
    width: 700px;
    height: 70vh;
  }
  
  /* Image section */
  .card-image {
    width: 50%;
    background-image: url("/public/assets/img/aa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Content section */
  .card-content {
    padding: 40px;
    color: #fff;
    flex: 1;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #72be92;
    text-align: center;
  }
 
  
  .card-content h2 {
    margin-bottom: 20px;
    color: #72be92;
    font-size: 28px;
   
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 12px;
    background: #72be92;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-button:hover {
    background: #3fec0a;
  }
  
  /* Links */
  .links {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .links a {
    color: #ff8800;
    text-decoration: none;
  }
  .links p {
    color: #000000;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  /* Terms */
  .terms {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
  }
  
  .terms a {
    color: #ff8800;
  }
  