.document-upload {
  padding: 16px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background-color: #ffffff;
  width: 600px;
  margin-left: 20%;
}s

.document-upload input{
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 800px;
  box-shadow: #000000;
}

 

.document-upload input[type="file"] {
  margin-bottom: 16px;
  background-color: #ffffff;
  border: #d6d6d6;
}

.file-preview {
  margin-top: 16px;
}

.file-preview ul {
  list-style-type: none;
  padding-left: 0;
}

.file-preview li {
  background-color: #ffffff;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
}

textarea {
  width: 82%;
  height: 80px;
  margin-top: 16px;
  padding: 8px;
  margin-left: 25px;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.document-upload button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #0077B5;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  
}


.document-upload button:hover {
  background-color: #0077B5;
}

.error-message {
  margin-top: 16px;
  color: red;
  font-weight: bold;
}
