.document-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.navigation-controls,
.interaction-controls {
  margin: 10px 0;
}

.navigation-controls button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  width: 80px;
  size: 5px;
  font-size: 12px;


}

.interaction-controls button {
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  width: 100px;
  font-size: 12px;
  margin-bottom: 5px;
  
}
.actions button {
  margin: 0 5px;
  
  cursor: pointer;
  width: 200px;
  font-size: 16px;
  margin-top: 15px;
  color: black;
  background-color: rgb(9, 140, 248);
  border-radius: rgb(212, 88, 88);
  margin-bottom: 15px;
  
}

.bookmarks ul {
  list-style-type: none;
  padding: 0;
}

.bookmarks li {
  margin: 5px 0;
}
.mirror-mode {
  transform: scaleX(-1);
}

.stamps-preview {
  margin-top: 20px;
  text-align: center;
}

.stamps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.stamp-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 80px; /* Adjust the width to reduce size */
  height: 120px; /* Adjust the height */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.stamp-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.stamp-image {
  width: 60px; /* Reduce image size */
  height: 60px; /* Keep the aspect ratio square */
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 3px; /* Optional rounded corners */
}

.stamp-item p {
  font-size: 12px; /* Reduce font size for stamp name */
  text-align: center;
  margin: 0;
  color: #333;
}

.pdf-document canvas {
  pointer-events: auto;
}
.stamp-wrapper {
  position: absolute;
  border: 1px dashed gray;
  box-sizing: border-box;
  cursor: grab;
}
.stamp-wrapper:active {
  cursor: grabbing;
}
