body {
  font-family: Arial, Helvetica, sans-serif;
}
.stamp-list {
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
}
.stamp-list h3{
  color: #0077B5;
  font-size: 50px;
  font-family: 'Roboto', sans-serif; /* Use Roboto for headings */
  margin-left: 30%;
  
}


.stamp-list table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: 10%;
}

.stamp-list th,
.stamp-list td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

.stamp-list th {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;

}

.stamp-list td a {
  color: #0077B5;
  text-decoration: none;
}

.stamp-list td a:hover {
  text-decoration: underline;
}

.stamp-list button {
  margin: 0 5px;
  padding: 5px 20px;
  border: none;
  background-color: #0077B5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;

}

.stamp-list button:hover {
  background-color: #170cb6;
}
